#jinja2: lstrip_blocks: "True"
version {{ software_version }};
system {
    host-name {{ inventory_hostname }};
    root-authentication {
        encrypted-password "$1$2FIsFjru$/eN1lmWTHoJgkgSBuxqRU."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$k5QNc0zP$SW.4Zgv65BqXJtVfUWGQ/."; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            max-sessions-per-connection 32;
        }
        telnet {
            connection-limit 5;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        boot-server 192.168.1.237;
        server 192.168.1.237;
    }
}
