---
routing_options:
  router_id: xxx

loopback:
  - {
      name: xxx,
      logical_attributes: {
        sub_iface: xxx,
        inet: {
          enabled: true,
          address: xxx
        },
        inet6: {
          enabled: false,
          address: xxx
        },
        iso: {
          enabled: true,
          address: xxx
        }
      }
    }

fabric_interfaces:
  - { 
      interface: xxxx,
      physical_attributes: {
        mtu: xxxx,
        descr: xxx,
      },
      logical_attributes: {
        sub_iface: xxx,
        inet: {
          enabled: true,
          address: xxx
        },
        inet6: {
          enabled: false,
          address: xxx
        },
        iso: {
          enabled: true
        },
        cost: xxx
      },
      protocols: {
        ospf: false,
        isis: true,
        ldp: true,
        rsvp: true,
        mpls: true,
      }
    }
