---
{% set loopback_ip = "{}.{}/32".format(loopback_net, id)|ipaddr('address') %}
{% set router_id = "{}.{}".format(loopback_net, id)|ipaddr('address') %}
{% set padded_id = "0{}".format(id) if id <= 9 else "{}".format(id) %}
{% set iso_address = "{}.00{}.00".format(iso_afi_area_system, padded_id) %}

routing_options:
  router_id: {{ router_id }}
  autonomous-system {{ ibgp_asn }};
  dynamic_tunnels: true

loopback:
  - {
      name: lo0,
      logical_attributes: {
        sub_iface: 0,
        inet: {
          enabled: true,
          address: {{ loopback_ip }}
        },
        iso: {
          enabled: true,
          address: {{ iso_address }}
        }
      }
    }

{% macro configure_interface(name, index, is_left, peer, peer_node, peer_iface, cost) -%}
{% set index = (index - 1) * 2 %}
{% set network = "{}.{}/31".format(fabric_link_ipv4_prefix, index) %}
{% set ip = network|ipaddr('0') if is_left else network|ipaddr('-1') %}
{% set peer_ip = network|ipaddr('-1') if is_left else network|ipaddr('0') %}
  - { 
      interface: {{ name }},
      annotatation: 'link_index: {{ index }} | {{ inventory_hostname }} {{ name }}.0 {{ ip }} --> {{ peer_ip }} {{ peer_iface }}.0 {{ peer_node }}'
      physical_attributes: {
        mtu: {{ fabric_mtu }},
        descr: WAN | {{ peer_node }} {{ peer_iface }},
      },
      logical_attributes: {
        sub_iface: 0,
        inet: {
          enabled: true,
          address: {{ ip }}/31
        },
        iso: {
          enabled: true
        },
        cost: {{ cost | default(isis_default_cost) }}
      },
      protocols: {
        isis: true,
        ldp: true,
        rsvp: true,
        mpls: true,
      }
    }
{% endmacro %}

fabric_interfaces:
{% for link in fabric %}
{% if inventory_hostname == link.left %}
{{ configure_interface(link.left_port, loop.index, true, link.right, link.right, link.right_port, link.cost) }}
{% elif inventory_hostname == link.right %}
{{ configure_interface(link.right_port, loop.index, false, link.left, link.left, link.left_port, link.cost) }}
{% endif %}
{% endfor %}