{% from 'templates/output_macro.j2' import output_macro with context %}
{% if data.item == 'show isis adjacency' %}
{% for item in data.output[0]['rpc-reply']['isis-adjacency-information']['isis-adjacency'] %}
{% set failed = false 
    if item['adjacency-state'] == 'Up'
    else true %}
{{ output_macro('ISIS Adjacency Up', "To {} on {}".format(item['system-name'],item['interface-name']), failed) }}
{% endfor %}
{% endif %}
{% if data.item == 'show isis interface' %}
{% for item in data.output[0]['rpc-reply']['isis-interface-information']['isis-interface'] %}
{% if 'em' in item['interface-name'] %}
{% set failed = false 
    if item['isis-interface-state-one'] == 'Disabled' and 'em'
    else true %}
{{ output_macro('ISIS Level 1 Disabled', "For {}".format(item['interface-name']), failed) }}
{% set failed = false 
    if item['isis-interface-state-two'] == 'Point to Point'
    else true %}
{{ output_macro('ISIS Level 2 P2P', "For {}".format(item['interface-name']), failed) }}
{% endif %}
{% endfor %}
{% endif %}